<nav class="bg-yellow-800  p-4 text-gray-200">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-2xl font-bold">CarCell</a>
      <ul class="flex space-x-6 text-md">
        <li><a href="/" class="hover:underline ">Home</a></li>
        <li><a href="/register" class="hover:underline">register</a></li>
        <li><a href="/login" class="hover:underline">Login</a></li>
      </ul>
    </div>
  </nav>